{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}



<form method="post" id="formulario-ficha">

    {% csrf_token %}

    <div class="container">
        <div class="row align-items-center">
            <!-- Imagen -->
            <div class="col-lg-6">
                <div class="card p-2">
                    <div class="d-flex justify-content-center align-items-center"
                        style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        <img src="/media/{{ imagen }}" class="card-img-top">
                    </div>
                </div>
            </div>
            <!-- Información del Producto -->
            <div class="col-lg-6">
                <div class="card" style="height: 34.5rem;">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 30px;">{{ nombre }}</p>
                        <p class="card-text" style="color: rgb(9, 255, 9);">{{ html_estado|safe }}</p>
                        <p class="card-text" style="font-size: 20px;">{{ html_precio|safe }}</p>
                        <p class="card-text" style="font-family: 'Times New Roman', Times, serif;">{{ descripcion }}</p>
                        <p class="card-text">{{ html_stock|safe }}</p>
                        <div>
                            <input type="hidden" id="accion">
                            <a href="{% url 'comprar_ahora' %}" class="btn btn-primary ancho-160px">
                                Comprar ahora
                            </a>
                            <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-secondary ancho-160px">
                                Agregar al carrito
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}

{% block script %}
<script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}